body{
    background-color: #333;
}


.main{
    border: 2px solid black;
    height: 500px;
    display: flex;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    background-color: #080909;
    border-radius: 15px;   
    margin-top: 100px;

}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800px;
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;

}

#green-text{
    color: #80ed99;
}

#Password-btn{
    width: 150px;
    height: 30px;
    border:none;
    background-color: #80ed99;
    border-radius: 4px;
    margin-top: 60px;
    margin-left: 50px;
    font-weight: bolder;
}

.line{
    display: block;
    border-bottom: none;
    width: 80%;
    margin: 20px auto;
    height: 2px;
    background-color: #333;
}


.content{
    padding: 10px 20px 10px 20px;
}


.password{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#Password-1,#Password-2{
    border: 1px solid #80ed99;
    width: 150px;
    height: 30px;
    background-color: #333;
    color: #80ed99;
    padding-top: 7px;
}